[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mixedLSR"]
	path = mixedLSR
	url = https://github.com/alexanderjwhite/mixedlsr
